.container { position:relative; padding:0 0 0 210px }
#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:200px;
    background: cornflowerblue;
}

#header { border:1px solid orange; width:1000px; height:200px;
    margin:0 0 10px 0;
}
#content { border:1px solid greenyellow; width:1000px; height:500px;
    margin:10px 0 10px 0;
}
#footer { border:1px solid blue; width:1000px; height:200px;
    margin:10px 0 0 0;
}