.container { position:relative; padding:0 0 0 210px }
#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:200px;
    background: cornflowerblue;
}

#header { background: indianred; border:1px solid orange; height:200px;
    margin:0 0 10px 0;
}
#content {background: lightblue; border:1px solid greenyellow; height:500px;
    margin:10px 0 10px 0;
}
#footer { background: mediumpurple; border:1px solid blue; height:200px;
    margin:10px 0 0 0;
}